<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MALEBOX</title>


  <link href="/vendor/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/common.css" rel="stylesheet">
  <link href="/vendor/bootstrap_datepicker/css/datepicker.css" rel="stylesheet">
  <link href='https://cdn.rawgit.com/openhiun/hangul/master/nanumbarungothic.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>

  <!--<script src="/vendor/jquery/jquery-1.11.1.min.js"></script>-->
  <!--<script src="/vendor/bootstrap-3.3.1/js/bootstrap.min.js"></script>-->
  <!--<script src="/vendor/jquery-valdiation/dist/jquery.validate.js"></script>-->
  <!--&lt;!&ndash;<script src="/vendor/jquery-valdiation/dist/additional-methods.js"></script>&ndash;&gt;-->
  <!--<script src="/js/skrollr.min.js"></script>-->
  <!--<script src="/vendor/bootstrap_datepicker/js/bootstrap-datepicker.js"></script>-->
  <!--<script src="/vendor/bootstrap_datepicker/js/locales/bootstrap-datepicker.kr.js"></script>-->
  <!--<script src="/js/main.js"></script>-->


</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-center"><a class="navbar-brand" href="/">MALEBOX</a></div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/#about">서비스 소개</a>
        </li>
        <li>
          <a href="/#service">이용방법</a>
        </li>
        <li>
          <a href="/#faq">FAQ</a>
        </li>
        <li>
          <a href="/#contact">Contact</a>
        </li>
      </ul>
      <div class="navbar-right">
        <a href="/register" class="btn btn-default btn-lg button-bg button-default beta-button">
          <span>베타 테스터 신청하기</span>
        </a>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<!-- Header -->
<div class="intro-header" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="intro-message">
            <h2>스타일 정보를 입력하시고</h2>
            <h1 style="display: inline-block;">MALEBOX</h1><h2 style="display: inline-block;">의</h2>
            <h2>스타일링 박스를 받아보세요</h2>
          </div>
        </div>
        <div class="row">
          gsjkgsdjklgsdjklgsdjklgsdjskdlsjklgsjklsldfjsdlfskljflsjflskdjf
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <!--</div>-->
</div>

<!-- /.intro-header -->
<!-- Page Content -->


<form id="orderForm" action="/order" method="POST" enctype="multipart/form-data">
<div class="content-section" id="level">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="section-header text-center">
          <h2>자신의 스타일 <span class="emp">레벨</span>을 고르세요</h2>
          <h4>(현재 자신의 상태)</h4>
        </div>
        <div class="row">
          <div class="content">
            <div class="col-lg-4 col-sm-6 levelcard-container">
              <div class="levelcard">
                <img class="img-responsive img-center" src="http://lorempixel.com/output/business-q-c-250-250-2.jpg" alt="...">
                <div class="caption text-center">
                  <p>쇼핑을 즐기지 않으며 패션에 둔감한 편이다. 개선이 필요하다</p>
                  <hr>
                  <input type="radio" name="level" value="<%=ENUMS.LEVEL.LOW%>" id="low_button"/>
                  <label for="low_button">Low</label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 levelcard-container">
              <div class="levelcard">
                <img class="img-responsive img-center" src="http://lorempixel.com/output/business-q-c-250-250-2.jpg" alt="...">
                <div class="caption text-center">
                  <p>옷을 잘 입는다는 이야기를 주변에서 많이 듣는다. 패션 트렌드에 민감하다.</p>
                  <hr>
                  <input type="radio" name="level" value="<%=ENUMS.LEVEL.MEDIUM%>" id="high_button"/>
                  <label for="high_button">Medium</label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 levelcard-container">
              <div class="levelcard">
                <img class="img-responsive img-center" src="http://lorempixel.com/output/business-q-c-250-250-2.jpg" alt="...">
                <div class="caption text-center">
                  <p>평소에 옷을 평펌하게 입는다. 현재 나의 패션이 잘 어울린다 생각한다.</p>
                  <hr>
                  <input type="radio" name="level" value="<%=ENUMS.LEVEL.HIGH%>" id="high_button"/>
                  <label for="high_button">High</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-a -->

<div class="content-section" id="styles">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="section-header text-center">
          <h2><span class="emp">현재 자신의 스타일</span>과 가까운 이미지를 선택해주세요</h2>
          <h4>(평소 즐겨입는 스타일)</h4>

        </div>
        <div class="content">
          <div class="row">
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section" id="size">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 test">
        <div class="section-header text-center">
          <h2>신체 사이즈를 선택해주세요</h2>
        </div>
        <div class="content">
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label for="height">키(cm)</label>
              <select class="form-control input-sm" id="height" name="height">
              <% for(var i = ENUMS.HEIGHT.MIN; i <= ENUMS.HEIGHT.MAX; i++){%>
                <option value=<%=i%>><%=i%></option>
              <% }%>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label for="weight">몸무게(kg)</label>
              <select class="form-control input-sm" id="weight" name="weight">
                <% for(var i = ENUMS.WEIGHT.MIN; i <= ENUMS.WEIGHT.MAX; i+=2){%>
                <option value=<%=i%>><%=i%></option>
                <% }%>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label for="top_size">상의</label>
              <select class="form-control input-sm" id="top_size" name="top_size">
              <% for(var key in ENUMS.TOP_SIZE){ %>
                <option value=<%=ENUMS.TOP_SIZE[key]%>><%=key%>&nbsp;(<%=ENUMS.TOP_SIZE[key]%>)</option>
              <%}%>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label for="bottom_size">허리(inch)</label>
              <select class="form-control input-sm" id="bottom_size" name="bottom_size">
                <% for(var i = ENUMS.BOTTOM_SIZE.MIN; i <= ENUMS.BOTTOM_SIZE.MAX; i++){%>
                <option value=<%=i%>><%=i%></option>
                <% }%>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>

<!-- /.content-section-a -->


<div class="content-section">

  <div class="container">

    <div class="col-lg-12">
      <div class="section-header text-center">
        <h2>다 와가요!</h2>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <div class="content">
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="name"><h4>이름</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력해주세요">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="name"><h4>이메일</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="text" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="name"><h4>핸드폰 번호</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="핸드폰 번호를 입력해주세요">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="postcode"><h4>우편번호</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="text" class="form-control" id="postcode" onfocus="showDaumPostcode()" name="postcode" placeholder="우편번호를 입력해주세요">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="address1"><h4>주소</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="text" class="form-control" id="address1" onfocus="showDaumPostcode()" name="address1" placeholder="주소를 입력해주세요">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="address2"><h4>상세 주소</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="text" class="form-control" id="address2" name="address2" placeholder="상세 주소를 입력해주세요">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="birth"><h4>생일</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="text" class="form-control" id="birth" name="birth" placeholder="생일를 입력해주세요">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="survey"><h4>설문</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <select class="form-control input-sm" id="survey" name="survey">
                    <option value="">MALEBOX를 어떤 경로로 알게 되셨나요?</option>
                    <option value=<%=ENUMS.SURVEY.SEARCH%>>검색을 통해서</option>
                    <option value=<%=ENUMS.SURVEY.AD%>>광고를 통해서</option>
                    <option value=<%=ENUMS.SURVEY.BLOG%>>블로그를 통해서</option>
                    <option value=<%=ENUMS.SURVEY.FACEBOOK%>>페이스북을 통해서</option>
                    <option value=<%=ENUMS.SURVEY.RECOMMEND%>>지인의 추천으로</option>
                    <option value=<%=ENUMS.SURVEY.ETC%>>기타</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-lg-2 text-left">
                <div class="row">
                  <label for="photo"><h4>사진업로드</h4></label>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <input type="file" id="photo" name="photo">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="photo"><h4>사진업로드&nbsp;<span class="sub">(사진을 첨부해주시면 더욱 어울리는 옷을 받으실 수 있습니다)</span></h4></label>
            </div>
            <p class="help-block">jpg, jpeg, png, bmp 파일만 가능합니다</p>
          </div>
          <div id="layer">
            <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px" onclick="closeDaumPostcode()" alt="닫기 버튼">
          </div>
          <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.js"></script>
          <script>
            // 우편번호 찾기 iframe을 넣을 element
            var element = document.getElementById('layer');

            function closeDaumPostcode() {
              // iframe을 넣은 element를 안보이게 한다.
              element.style.display = 'none';
            }

            function showDaumPostcode() {
              new daum.Postcode({
                oncomplete: function(data) {
                  var postcode = data.postcode1 + '-' + data.postcode2;
                  document.getElementById('postcode').value = postcode;

                  var addr = data.address.replace(/(\s|^)\(.+\)$|\S+~\S+/g, '');
                  document.getElementById('address1').value = addr;
                  document.getElementById('address2').focus();
                  element.style.display = 'none';

                },
                width : '100%',
                height : '100%'
              }).embed(element);

              // iframe을 넣은 element를 보이게 한다.
              element.style.display = 'block';
            }
          </script>
        </div>
      </div>

    </div>

  </div>
  <!-- /.container -->

</div>

<!-- /.content-section-b -->

<div class="content-section">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="section-header text-center">
          <h2><span class="emp">원하시는 상품</span>군을 선택해주세요</h2>
          <h4>(아이템 3개를 선택해주세요)</h4>
        </div>
        <div class="content">

          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label for="top-btns"><h4>1. 원하시는 상의는 무엇인가요?</h4></label>
              <div class="clearfix"></div>
              <div class="btn-group" id="top-btns" data-toggle="buttons">

                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="top" id="top1" value="1" autocomplete="off"> 셔츠
                </label>
                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="top" id="top2" value="2" autocomplete="off"> 티셔츠
                </label>

              </div>

            </div>
          </div>


          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label for="bottom-btns"><h4>2. 원하시는 하의는 무엇인가요?</h4></label>
              <div class="clearfix"></div>
              <div class="btn-group" id="bottom-btns" data-toggle="buttons">

                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="bottom" id="bottom1" value="1" autocomplete="off"> 청바지
                </label>
                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="bottom" id="bottom2" value="2" autocomplete="off"> 바지
                </label>
                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="bottom" id="bottom3" value="3" autocomplete="off"> 반바지
                </label>

              </div>

            </div>
          </div>

          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label for="outer-btns"><h4>4. 원하시는 아우터는 무엇인가요?</h4></label>
              <div class="clearfix"></div>
              <div class="btn-group" id="outer-btns" data-toggle="buttons">

                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="outer" id="outer1" value="1" autocomplete="off"> 스웨터/니트
                </label>
                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="outer" id="outer2" value="2" autocomplete="off"> 재킷
                </label>
                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="outer" id="outer3" value="3" autocomplete="off"> 코트
                </label>
                <label class="radio-btn btn btn-default button-name">
                  <input type="radio" name="outer" id="outer4" value="4" autocomplete="off"> 아우터웨어?
                </label>

              </div>

            </div>
          </div>


          <div class="col-lg-8 col-lg-offset-2">
            <div class="form-group">
              <label for="message"><h4>5. 스타일리스트에게 전하시고 싶은 말씀을 남겨주세요</h4></label>
              <textarea class="form-control" name="message" id="message" rows="3" placeholder="메시지를 남겨주면 도움이 됨 도움이 됨"></textarea>
            </div>

            <div class="form-group">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-default">신청하기</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>

<!-- /.content-section-a -->
</form>






<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="list-inline">
          <li>
            <a href="#home">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">
          주식회사 찹스터&nbsp;|
          서울특별시 서대문구 대신동 115 연세재단Y빌딩 7층&nbsp;|
          사업자등록번호 130-86-93240&nbsp;|
          통신판매업신고 제2011-서울종로-0761호&nbsp;|
          고객문의 010-2470-3771&nbsp;|
          이메일 customer@29cm.co.kr&nbsp;|
          대표이사 권재호&nbsp;|
          개인정보관리책임자 박우상&nbsp;|
        </p>
      </div>
    </div>
  </div>
</footer>

<!--</div>-->
<script src="/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="/vendor/bootstrap-3.3.1/js/bootstrap.min.js"></script>
<script src="/vendor/jquery-valdiation/dist/jquery.validate.js"></script>
<!--<script src="/vendor/jquery-valdiation/dist/additional-methods.js"></script>-->
<script src="/js/skrollr.min.js"></script>
<script src="/vendor/bootstrap_datepicker/js/bootstrap-datepicker.js"></script>
<script src="/vendor/bootstrap_datepicker/js/locales/bootstrap-datepicker.kr.js"></script>
<script src="/js/main.js"></script>

</body>

</html>
