<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RECLOTHE: 남자를 위한 스타일링 서비스</title>

  <link href='//fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>
  <link href="/vendor/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/common.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap_datepicker/css/datepicker.css" rel="stylesheet">


  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
  <script type="text/javascript">
    WebFontConfig = {
      custom: {
        families: ['Nanum Gothic'],
        urls: ['//fonts.googleapis.com/earlyaccess/nanumgothic.css']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57983797-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-center"><a class="navbar-brand" href="/"><img src="/img/logo.png" alt="리클로스"/></a></div>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/#about">서비스 소개</a>
        </li>
        <li>
          <a href="/#service">이용방법</a>
        </li>
        <li>
          <a href="/#brand">브랜드</a>
        </li>
        <li>
          <a href="/#faq"><span class="alpha-spacing">FAQ</span></a>
        </li>
        <li>
          <a href="/#contact"><span class="alpha-spacing">CONTACT</span></a>
        </li>
        <li class="xs-only">
          <a href="/register">신청하기</a>
        </li>
      </ul>
      <div class="navbar-right xs-none">
        <a href="/register" class="btn button-default beta-button">
          <span>신청하기</span>
        </a>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>



<div class="loading none">

</div>

<!-- Header -->
<div class="register-header" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="register-message">
            <h2 class="weight-normal">당신의 <strong>스타일 정보</strong>를 입력하고</h2>
            <h2 class="weight-normal">나에게 딱 맞는 <strong>스타일링 상품</strong>을 받아보세요!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <!--</div>-->
</div>

<!-- /.intro-header -->
<!-- Page Content -->

<form id="orderForm" action="/order" method="POST" enctype="multipart/form-data">

<div class="content-section  content-section-register" id="level">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pp">

        <div class="section-header text-center">
          <h3>당신의 패션 자신감은?</h3>
          <div class="lp"></div>
        </div>
        <div class="row xs-padding-15">
          <div class="content">
            <div class="col-lg-4 col-xs-12 levelcard-container">
              <div class="levelcard">
                <img class="img-responsive img-center" src="/img/level/low.jpg" alt="패션레벨 low">
                <div class="checked"></div>
                <div class="caption text-center">
                  <p>
                    쇼핑을 즐기지 않으며 패션에 둔감한 편이다.<br>
                    개선이 필요하다.
                  </p>
                  <hr>
                  <input type="radio" name="level" value="<%=ENUMS.LEVEL.LOW%>" id="low_button"/>
                  <label for="low_button" class="level-button"><span class="alpha-weight">Low</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xs-12 levelcard-container">
              <div class="levelcard">
                <img class="img-responsive img-center" src="/img/level/medium.jpg" alt="패션레벨 medium">
                <div class="checked"></div>
                <div class="caption text-center">
                  <p>평범한 스타일이지만 나름 만족한다.</p>
                  <hr>
                  <input type="radio" name="level" value="<%=ENUMS.LEVEL.MEDIUM%>" id="medium_button"/>
                  <label for="medium_button">Medium</label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xs-12 levelcard-container">
              <div class="levelcard">
                <img class="img-responsive img-center" src="/img/level/high.jpg"  alt="패션레벨 high">
                <div class="checked"></div>
                <div class="caption text-center">
                  <p>쇼핑을 즐기며 옷을 잘 입는다는 소리를 많이 듣고, 나의 패션에 충분히 만족한다.</p>
                  <hr>
                  <input type="radio" name="level" value="<%=ENUMS.LEVEL.HIGH%>" id="high_button"/>
                  <label for="high_button">High</label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section  content-section-register" id="styles">
  <div class="container">
    <div class="card-container">
      <div class="row">
        <div class="col-lg-12 pp">
          <div class="section-header text-center">
            <h3>현재 당신이라면 평소에 무슨 스타일의 옷을 입겠습니까?</h3>
            <div class="lp"></div>
          </div>
          <hr>
          <!--<div class="content">-->
            <div class="styleCheck">
            <%for(var i = 1; i < styles.length; i++){%>
              <div class="col-lg-3 col-xs-6 xs-padding">
                <input type="checkbox" name="style" value="<%=styles[i].CODE%>" id="styleId<%=styles[i].CODE%>"/>
                <label for="styleId<%=styles[i].CODE%>">
                  <img class="img-responsive" src="<%=styles[i].URL%>" alt="스타일<%=i%>"/>
                  <div class="checked"></div>
                </label>
              </div>
            <%}%>
              <div class="col-lg-3 col-xs-6 xs-padding">
                <input type="checkbox" name="style" value="0" id="styleId0"/>
                <label for="styleId0">
                  <img class="img-responsive" src="/img/nothing.jpg" alt="스타일0" border="1"/>
                  <div class="checked"></div>
                </label>
              </div>
            </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content-section  content-section-register" id="hates">
  <div class="container">
    <div class="card-container">
      <div class="row">
        <div class="col-lg-12 pp">
          <div class="section-header text-center">
            <h3>당신이 싫어하는 스타일은?</h3>
            <div class="lp"></div>
          </div>
          <hr>
          <!--<div class="content">-->
            <div class="styleCheck">
              <%for(var i = 1; i < hates.length; i++){%>
              <div class="col-lg-3 col-xs-6 xs-padding">
                <input type="checkbox" name="hate" value="<%=hates[i].CODE%>" id="hateId<%=hates[i].CODE%>"/>
                <label for="hateId<%=hates[i].CODE%>">
                  <img class="img-responsive" src="<%=hates[i].URL%>" alt="싫어하는 스타일<%=i%>"/>
                  <div class="checked"></div>
                </label>
                <div class="text-center"><%=hates[i].TEXT%></div>
              </div>
              <%}%>
              <div class="col-lg-3 col-xs-6 xs-padding">
                <input type="checkbox" name="hate" value="0" id="hateId0"/>
                <label for="hateId0">
                  <img class="img-responsive" src="/img/nothing.jpg" alt="싫어하는 스타일0"/>
                  <div class="checked"></div>
                </label>
              </div>
            </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content-section  content-section-register" id="size">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-container">
          <div class="section-header text-center">
            <h3>신체 사이즈를 선택해주세요</h3>
          </div>
          <hr>
          <div class="content padding-90">
            <div class="row">
              <div class="col-lg-3 col-xs-6">
                <div class="form-group pull-left margin-remover">
                  <label class="size-label" for="height">키<span class="alpha-spacing">(cm)</span></label>
                  <select class="form-control size-selectbox" id="height" name="height">
                  <% for(var i = ENUMS.HEIGHT.MIN; i <= ENUMS.HEIGHT.MAX; i++){%>
                    <option value=<%=i%>><%=i%></option>
                  <% }%>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div class="form-group margin-remover">
                  <label class="size-label block-center" for="weight">몸무게<span class="alpha-spacing">(kg)</span></label>
                  <select class="form-control size-selectbox block-center" id="weight" name="weight">
                    <% for(var i = ENUMS.WEIGHT.MIN; i <= ENUMS.WEIGHT.MAX; i++){%>
                    <option value=<%=i%>><%=i%></option>
                    <% }%>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div class="form-group margin-remover">
                  <label class="size-label block-center" for="top_size">상의</label>
                  <select class="form-control size-selectbox block-center" id="top_size" name="top_size">
                  <% for(var key in ENUMS.TOP_SIZE){ %>
                    <option value=<%=ENUMS.TOP_SIZE[key]%>><%=key%>&nbsp;(<%=ENUMS.TOP_SIZE[key]%>)</option>
                  <%}%>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div class="form-group pull-right margin-remover">
                  <label class="size-label" for="bottom_size" >허리<span class="alpha-spacing">(inch)</span></label>
                  <select class="form-control size-selectbox" id="bottom_size" name="bottom_size">
                    <% for(var i = ENUMS.BOTTOM_SIZE.MIN; i <= ENUMS.BOTTOM_SIZE.MAX; i++){%>
                    <option value=<%=i%>><%=i%></option>
                    <% }%>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>



<div class="content-section  content-section-register" id="user">

  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="card-container">
          <div class="section-header text-center">
            <h3>다 와가요!</h3>
            <h3>정보를 입력해주세요</h3>
          </div>
          <hr>

          <div class="content">
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="name"><h5>이름</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력해주세요">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="name"><h5>이메일</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <input type="text" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="name"><h5>핸드폰 번호</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="핸드폰 번호를 입력해주세요">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="postcode"><h5>우편번호</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <input type="text" class="form-control" id="postcode" onfocus="openDaumPostcode()" name="postcode" placeholder="우편번호를 입력해주세요">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="address1"><h5>주소</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <input type="text" class="form-control" id="address1" onfocus="openDaumPostcode()" name="address1" placeholder="주소를 입력해주세요">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="address2"><h5>상세 주소</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <input type="text" class="form-control" id="address2" name="address2" placeholder="상세 주소를 입력해주세요">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="birth"><h5>생일</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <input type="text" class="form-control" id="birth" name="birth" placeholder="생일을 입력해주세요">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="survey"><h5>설문</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <select class="form-control" id="survey" name="survey">
                    <option value="">RECLOTHE를 어떤 경로로 알게 되셨나요?</option>
                    <option value=<%=ENUMS.SURVEY.SEARCH%>>검색을 통해서</option>
                    <option value=<%=ENUMS.SURVEY.AD%>>광고를 통해서</option>
                    <option value=<%=ENUMS.SURVEY.BLOG%>>블로그를 통해서</option>
                    <option value=<%=ENUMS.SURVEY.FACEBOOK%>>페이스북을 통해서</option>
                    <option value=<%=ENUMS.SURVEY.RECOMMEND%>>지인의 추천으로</option>
                    <option value=<%=ENUMS.SURVEY.ETC%>>기타</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3 xs-none" for="consult"><h5>연락 가능한 시간대</h5></label>
                <div class="col-lg-9 col-xs-12">
                  <select class="form-control" id="consult" name="consult">
                    <option value="">연락 가능한 시간대를 선택해주세요</option>
                  <% for(var i = ENUMS.CONSULT_HOUR.MIN; i < ENUMS.CONSULT_HOUR.MAX; i++){
                    var str = i + '시 ~ ' + (i + 1) + '시';
                  %>
                    <option value=<%=i%>><%=str%></option>
                  <%}%>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3" for="self">
                  <h5>나의 사진</h5>
                  <span class="sub">(고객님의 사진을 첨부해주시면 더욱 어울리는 옷을 받으실 수 있습니다)</span>
                </label>
                <div class="col-lg-9 col-xs-12">
                  <input type="file" id="self" name="self">
                </div>
                <p class="help-block">가능하면 얼굴이 포함된 전신사진을 첨부해주세요.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group padding-90">
                <label class="col-lg-3" for="photo">
                  <h5>원하는 스타일 사진</h5>
                  <span class="sub">(선택 항목)</span>
                </label>
                <div class="col-lg-9 col-xs-12">
                  <input type="file" id="photo" name="photo">
                </div>
              </div>
            </div>
            <!--<div id="layer">-->
              <!--<img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png"-->
                   <!--id="btnCloseLayer"-->
                   <!--style="cursor:pointer;position:absolute;right:-3px;top:-3px"-->
                   <!--onclick="closeDaumPostcode()" alt="닫기 버튼">-->
            <!--</div>-->

            <script>
              function openDaumPostcode() {
                new daum.Postcode({
                  oncomplete: function (data) {
                    var postcode = data.postcode1 + '-' + data.postcode2;
                    document.getElementById('postcode').value = postcode;

                    var addr = data.address.replace(/(\s|^)\(.+\)$|\S+~\S+/g, '');
                    document.getElementById('address1').value = addr;
                    document.getElementById('address2').focus();
                  }
                }).open();
              }


//              // 우편번호 찾기 iframe을 넣을 element
//              var element = document.getElementById('layer');
//
//              function closeDaumPostcode() {
//                // iframe을 넣은 element를 안보이게 한다.
//                element.style.display = 'none';
//              }
//
//              function showDaumPostcode() {
//                new daum.Postcode({
//                  oncomplete: function(data) {
//                    var postcode = data.postcode1 + '-' + data.postcode2;
//                    document.getElementById('postcode').value = postcode;
//
//                    var addr = data.address.replace(/(\s|^)\(.+\)$|\S+~\S+/g, '');
//                    document.getElementById('address1').value = addr;
//                    document.getElementById('address2').focus();
//                    element.style.display = 'none';
//
//                  },
//                  width : '100%',
//                  height : '100%'
//                }).embed(element);
//
//                // iframe을 넣은 element를 보이게 한다.
//                element.style.display = 'block';
//              }
            </script>
          </div>


        </div>
      </div>

    </div>
  </div>
  <!-- /.container -->

</div>

    <!-- /.content-section  content-section-register-b -->


<div class="content-section  content-section-register" id="product">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="card-container pp">
          <div class="section-header text-center">
            <h3>원하는 상품을 선택해주세요 <span class="sub">(최대 4개)</span></h3>
            <div class="lp"></div>
          </div>
          <hr>
          <ul>
            <div class="content padding-90">
              <div class="row">
                <div class="col-lg-4 product-margin">
                  <div class="form-group">
                    <h5><label for="top-btns"><li>상의</li></label></h5>
                    <div class="clearfix"></div>
                    <div class="btn-group" id="top-btns" data-toggle="buttons">
                      <% _.forIn(ENUMS.PRODUCT.TOP, function(top, key){%>
                      <label for="<%=key.toLowerCase()%>" class="radio-btn btn btn-default button-name">
                        <input type="checkbox" name="product" id="<%=key.toLowerCase()%>" value="<%=top.CODE%>" autocomplete="off"> <%=top.NAME%>
                      </label>
                      <%});%>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 product-margin">
                  <div class="form-group">
                    <h5><label for="bottom-btns"><li>하의</li></label></h5>
                    <div class="clearfix"></div>
                    <div class="btn-group" id="bottom-btns" data-toggle="buttons">
                      <% _.forIn(ENUMS.PRODUCT.BOTTOM, function(bottom, key){%>
                      <label for="<%=key.toLowerCase()%>" class="radio-btn btn btn-default button-name">
                        <input type="checkbox" name="product" id="<%=key.toLowerCase()%>" value="<%=bottom.CODE%>" autocomplete="off"> <%=bottom.NAME%>
                      </label>
                      <%});%>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 product-margin">
                  <div class="form-group">
                    <h5><label for="outer-btns"><li>아우터</li></label></h5>
                    <div class="clearfix"></div>
                    <div class="btn-group" id="outer-btns" data-toggle="buttons">
                      <% _.forIn(ENUMS.PRODUCT.OUTER, function(outer, key){%>
                      <label for="<%=key.toLowerCase()%>" class="radio-btn btn btn-default button-name">
                        <input type="checkbox" name="product" id="<%=key.toLowerCase()%>" value="<%=outer.CODE%>" autocomplete="off"> <%=outer.NAME%>
                      </label>
                      <%});%>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <h5><label for="message"><li>스타일리스트에게 전하고 싶은 말을 남겨주세요</li></label></h5>
                    <textarea class="form-control" name="message" id="message" rows="3" placeholder="자신의 특별한 상황이나 기타 요구사항을 알려주세요."></textarea>
                  </div>
                </div>
              </div>

            </div>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>




<!-- /.content-section  content-section-register-a -->



<div class="content-section  content-section-register" id="term">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card-container">
          <div class="section-header text-center">
            <h3><span class="emp">배송/결제 · 교환/반품</span></h3>
          </div>
          <hr>
          <div class="content">
            <div class="row">
              <div class="col-lg-12 padding-90 xs-padding-30">
                <h5>배송정보</h5>
                <p>
                  <ul>
                    <li>요청한 상품은 스타일링 상담이 끝난 후 평균 <strong>3일</strong> 이내 배송됩니다.</li>
                  </ul>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12 padding-90 xs-padding-30">
                <h5>결제정보</h5>
                <p>
                  <ul>
                    <li>상품 수령 시 결제 정보가 담긴 가격표가 동봉되어 있으며 구매를 원하는 제품에 한해 해당 금액을 <br><strong>기업은행 201-060742-01-017</strong> 로 계좌이체하시면 됩니다.</li>
                  </ul>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12 padding-90 margin-bottom-terms xs-padding-30">
                <h5>교환/반품 정보</h5>
                <p>
                  <ul>
                    <li>결제 전 반품
                      <ul>
                        <li>배송된 상품 중 결제가 되지 않은 상품은 배송 도착일 기준 +3일 이후에 자동으로 반품 신청이 되어 <br>택배기사님이 회수해갑니다. (무료 반품)</li>
                      </ul>
                    </li>
                    <li>결제 이후 교환/환불
                      <ul>
                        <li>실제 상품을 수령하신 날부터 14일 이내 반품하시면 교환/환불이 가능합니다. (택배비 본인 부담)</li>
                      </ul>
                    </li>
                    <li>교환/반품/환불 불가 사유
                      <ul>
                        <li>전자상거래 등에서 소비자보호에 관한 법률에 따라 다음의 경우 청약철회가 제한될 수 있습니다.</li>
                        <li>포장을 개봉하여 사용하거나 또는 설치가 완료되어 상품 등의 가치가 훼손된 경우에는 교환/반품/환불이
                          <br>불가하오니 이 점 양해하여 주시기 바랍니다.
                          <br>(단, 상품의 내용을 확인하기 위하여 포장을 개봉한 경우에는 교환/반품/환불이 가능합니다.)
                        </li>
                        <li>고객님의 결제 이후 교환/환불 요청이 상품을 수령한 날로부터 14일을 경과한 경우.</li>
                        <li>고객님의 책임 있는 사유로 상품 등의 가치가 심하게 파손되거나 훼손된 경우.</li>
                        <li>구매하신 상품의 구성품이 누락된 경우. (예 : 의류에 부착되는 액세서리 등)</li>
                        <li>기타, '전자상거래 등에서의 소비자보호에 관한 법률'이 정하는 청약철회 제한사유에 해당되는 경우.</li>
                      </ul>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr class="none xs-only">
      <div class="col-lg-4 area-agree">
        <div class="card-container agree text-center">
          <div class="row">
            <div class="col-lg-12">
              <h5>이용약관, 개인정보 <br>수집 및 이용에 <span class="emp">모두</span> 동의합니다.</h5>
              <input type="checkbox" name="agreeAll" class="agree agreeAll" value="0" id="agreeAll"/>
              <label for="agreeAll"></label>
              <hr>
            </div>
            <div class="col-lg-12 pp">
              <h5><a data-toggle="modal" class="a-underline" data-target="#termsModal">RECLOTHE 이용약관 동의</a></h5>
              <h5><span class="emp">(필수)</span></h5>
              <div class="lp"></div>
              <input type="checkbox" name="termsAgree" class="agree" value="1" id="termsAgree"/>
              <label for="termsAgree"></label>
              <hr>
            </div>
            <div class="col-lg-12 pp">
              <h5><a data-toggle="modal" class="a-underline" data-target="#personalModal">개인정보 수집 및 이용 동의</a></h5>
              <h5><span class="emp">(필수)</span></h5>
              <div class="lp"></div>
              <input type="checkbox" name="personalAgree" class="agree" value="2" id="personalAgree"/>
              <label for="personalAgree"></label>
            </div>
            <div class="col-lg-12">
              <input type="submit" value="제출하기" class="btn btn-default submit-button">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>






</form>






<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="copyright">
          <b><a data-toggle="modal" class="link-normalize" data-target="#termsModal">이용약관</a></b>&nbsp;|
          <b><a data-toggle="modal" class="link-normalize" data-target="#personalModal">개인정보 취급방침</a></b>&nbsp;|
          주식회사 찹스터&nbsp;|
          서울특별시 서대문구 대신동 115 연세재단Y빌딩 7층&nbsp;|<br class="xs-none">
          사업자등록번호 130-86-93240&nbsp;|
          통신판매업신고 제2014-경기부천-1378호&nbsp;|<br class="xs-none">
          고객문의 010-2470-3771&nbsp;|
          이메일 reclothe.help@gmail.com&nbsp;|
          대표이사 권재호&nbsp;|
          개인정보관리책임자 박우상
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
        <h5 class="modal-title" id="termsModalLabel">이용약관</h5>
      </div>
      <div class="modal-body">
        ㈜찹스터 reclothe("회사" 또는 "찹스터"라 함)는 이용자의 개인정보를 소중하게 생각하고, 이용자의 개인정보를 보호하기 위하여 최선의 노력을 다하고 있습니다.<br>
        회사는 "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 상의 개인정보보호 규정 및 방송통신위원회가 제정한 "개인정보보호지침"을 준수하고 있습니다.<br>
        <br>
        회사는 관련 법령에 의거한 개인정보취급방침을 정하여 이용자에게 본인의 개인정보가 어떠한 용도와 방식으로 이용되며, 개인정보 보호를 위해 어떠한 조치를 취하는지에 대해 알려 드립니다. 또한 본 방침을 사이트에 공개하여 이용자가 언제나 쉽게 열람할 수 있도록 하고 있습니다.<br>
        <br>
        본 방침은 2014년 12월 15일부터 시행됩니다.<br>
        <br>
        제 1조 (목 적)<br>
        제 2 조 (용어의 정의)<br>
        제 3 조 (약관의 효력 및 변경)<br>
        제 4 조 (약관 외 준칙)<br>
        제 5 조 (이용계약의 성립)<br>
        제 6 조 (이용신청)<br>
        제 7 조 (이용신청에 대한 승낙 및 제한)<br>
        제 8 조 (회원정보의 변경)<br>
        제 9 조 (서비스 이용 관련 일반사항)<br>
        제 10 조 (서비스 이용 관련 세부사항)<br>
        제 11 조 (서비스의 변경 및 중지)<br>
        제 12 조 (정보 제공 및 광고 게재)<br>
        제 13 조 (회사의 의무)<br>
        제 14 조 (회원의 의무)<br>
        제 15 조 (회원에 대한 통지)<br>
        제 16 조 (회원정보의 보호 및 이용)<br>
        제 17 조 (계약해지 및 이용제한)<br>
        제 18 조 (손해 배상)<br>
        제 19 조 (면책사항)<br>
        제 20 조 (분쟁 조정 및 관할법원)<br>
        부칙<br>
        <br>
        제 1조 (목 적)<br>
        이 서비스 이용약관(이하 “약관”이라 합니다)은 주식회사 찹스터(이하 “회사”라 합니다)가 제공하는 서비스와 관련하여 회사와 회원 간에 서비스의 이용 조건 및 절차, 회사와 회원 간의 권리, 의무 및 책임 사항 기타 필요한 사항을 규정함을 목적으로 합니다.<br>
        <br>
        제 2 조 (용어의 정의)<br>
        이 약관에서 사용하는 용어의 정의는 다음 각호와 같으며, 정의되지 않은 용어에 대한 해석은 관계법령 및 서비스별 안내에서 정하는 바에 따릅니다.<br>
        회사가 수집하는 개인정보는 필수항목과 선택항목으로 구분됩니다.<br>
        1) 서비스 : 회사가 PC, TV, 휴대형 단말기 등 각종 유무선 기기 또는 프로그램을 통하여 회원의 정보를 수집 후 회원 개별에게 제공하는 패션 스타일링 서비스를 말합니다.<br>
        2)회원 : 이 약관에 동의하고 이용신청을 하여 회사가 제공하는 서비스를 이용하는 자를 말합니다.<br>
        3)회원 정보 : 회사가 서비스를 이용하고자 하는 회원에 대하여 적합한 서비스 제공하기 위하여 수집하는 회원 개별 정보를 말합니다.<br>
        4)스타일링 제품 : 회사가 수집한 회원 정보를 바탕으로 개별 회원에게 제안하는 패션 스타일링 제품을 말합니다.<br>
        <br>
        제 3 조 (약관의 효력 및 변경)<br>
        1)이 약관은 서비스 화면에 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력이 발생합니다.<br>
        2)회사는 약관의 규제에 관한 법률, 위치정보보호법, 개인정보보호법, 전자상거래 등에서의 소비자보호에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계법령에 위배되지 않는 범위 내에서 이 약관을 개정할 수 있습니다.<br>
        3)회사는 약관을 개정할 경우 그 개정이유 및 적용일자를 명시하여 현행 약관과 함께 적용일자 10일전부터 적용일 전일까지 제1항의 방법으로 공지합니다. 다만, 회원의 권리 또는 의무에 관한 중요한 규정의 변경은 최소한 30일전에 공지하고 개정약관을 회원이 등록한 메일, SMS 등으로 발송하여 통지합니다.<br>
        4)회사가 제3항에 따라 개정약관을 공지 또는 통지하면서 회원에게 약관 변경 적용일까지 거부의사를 표시하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 공지 또는 통지하였음에도 불구하고 회원이 명시적으로 거부의사를 표시하지 아니하는 경우 회원이 개정약관에 동의한 것으로 봅니다.<br>
        5)회원은 변경된 약관에 동의하지 아니하는 경우 서비스의 이용을 중단하고 이용계약을 해지할 수 있습니다.<br>
        6)국내이동통신사의 이동전화에 가입한 회원은 유무선연동 통합서비스의 원활한 제공을 위하여 이동전화 이용약관의 유무선 연동 통합서비스 관련 내용 중 서비스와 관련된 내용을 이 약관의 내용으로 하는데 동의한 것으로 봅니다.<br>
        7)회원은 약관의 변경에 대하여 주의의무를 다하여야 하며, 변경된 약관의 부지(不知)로 인한 회원의 피해는 회사가 책임지지 않습니다.<br>

        제 4 조 (약관 외 준칙)<br>
        이 약관에 명시되지 않은 사항에 대해서는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 약관의 규제에 관한 법률, 전기통신사업법 등 관계법령 및 회사가 정한 서비스의 세부이용지침 등의 규정에 따릅니다.<br>
        파기절차 및 방법은 다음과 같습니다.<br>
        <br>
        제 5 조 (이용계약의 성립)<br>
        1)서비스 이용계약은 회사의 서비스를 이용하려는 회원이 이 약관 및 “개인정보취급방침"에 “동의합니다"를 선택하고, 회사가 정한 신청양식을 작성하여 서비스의 이용을 신청한 후, 회사가 이를 승낙함으로써 성립합니다.<br>
        2)회사의 서비스를 이용하려는 회원이 전항의 "동의합니다"를 선택하고 회원정보를 작성하는 행위는 이 약관 및 “개인정보취급방침”에 대한 내용을 숙지하고, 회사가 서비스 이용을 위해 운영하는 각종 정책(예 : 개인정보취급방침, 저작권 정책, 스팸정책 등)과 수시로 공지하는 사항을 준수하는 것에 대해 동의하는 것으로 봅니다.<br>
        <br>
        제 6 조 (이용신청)<br>
        1)회원이 기재하는 회원정보는 회원의 실제정보인 것으로 간주되고, 실제정보를 입력하지 않은 회원은 법적인 보호를 받을 수 없으며 서비스 이용에 제한을 받을 수 있습니다.<br>
        2)만14세 미만의 아동이 서비스를 이용하기 위해서는 회사가 요구하는 소정의 법정대리인의 동의절차를 거쳐야 합니다.<br>
        3)타인의 개인정보를 도용하는 등 부정한 목적과 방법으로 이용신청을 한 회원의 ID는 사전 통지 없이 삭제될 수 있으며, 당해 회원은 관계법령에 따라 처벌을 받을 수 있습니다.<br>
        <br>
        제 7 조 (이용신청에 대한 승낙 및 제한)<br>
        1)회사는 서비스의 이용을 신청한 이용고객에 대하여 업무상ㆍ기술상 지장이 없는 한 접수순서에 따라 서비스의 이용을 승낙합니다.<br>
        2)회사는 다음 각 호에 해당하는 이용신청에 대하여는 승낙을 하지 않을 수 있습니다.<br>
        3. 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 "3. 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로<br>
        ①기술상 서비스 제공이 불가능한 경우<br>
        ②회원정보를 허위로 기재한 경우<br>
        ③회원정보의 기재사항을 누락하거나 오기하여 신청하는 경우<br>
        ④사회의 안녕질서 또는 미풍양속을 저해하거나 저해할 목적으로 신청한 경우<br>
        ⑤회원의 귀책사유에 의하여 회원자격을 상실한 적이 있는 경우. 다만, 자격상실 후 6개월 이상 경과한 자로 회사의 회원 재가입 승낙을 받은 경우는 예외로 합니다.<br>
        ⑥기타 회사가 정한 이용요건에 충족되지 않았을 경우<br>
        3)회사는 서비스를 이용하는 회원에 대하여 회원의 종류 및 등급별로 구분하여 이용시간, 이용회수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다<br>
        <br>
        제 8 조 (회원정보의 변경)<br>
        회원은 서비스를 이용하면서 신청양식에 기재한 회원정보가 변경되었을 경우 지체 없이 회원정보를 수정하여야 합니다. 회원정보를 수정하지 않음으로 인하여 발생하는 모든 책임은 회원에게 있습니다.<br>
        <br>
        제 9 조 (서비스 이용 관련 일반사항)<br>
        1)회사의 업무상ㆍ기술상의 장애로 인하여 서비스를 개시하지 못하는 경우에는 서비스에 공지하거나 회원에게 이를 통지합니다.<br>
        2)서비스의 이용은 연중무휴 1일 24시간을 원칙으로 합니다. 다만, 회사의 업무상ㆍ기술상 또는 서비스 운영정책상 서비스가 일시 중지될 수 있습니다. 이러한 경우 회사는 사전 또는 사후에 이를 공지합니다<br>
        3)회사는 서비스를 일정 범위로 분할하여 각 범위 별로 이용 가능한 시간을 별도로 정할 수 있으며 이 경우 그 내용을 공지합니다.<br>
        4)회사는 서비스 내의 개별 서비스에 대한 별도의 약관을 둘 수 있으며, 개별 서비스에서 별도로 적용되는 약관에 대한 동의는 회원이 개별 서비스를 최초로 이용할 경우 별도의 동의절차를 거치게 됩니다.<br>
        <br>
        제 10 조 (서비스 이용 관련 세부사항)<br>
        1)회사는 회원의 이용신청에 따라 서비스를 개시합니다.<br>
        2)회사는 회원의 서비스 이용 신청 시에 수집된 회원 정보를 바탕으로 전문 스타일리스트가 회원 개별에 가장 적합한 스타일링 제품을 선정하여 회원에게 배송하고 이를 전달받은 회원은 3일 이내에 사전 공지된 계좌번호로 구매하고자 하는 제품 별 금액을 이체하면 결제가 완료됩니다.<br>
        3)회원은 전달받은 스타일링 제품에 대하여 구입 여부를 72시간 내에 판단하여 회사에 실제 구입 의사를 통보하고 회사에 반품할 스타일링 제품은 포장하여 회사가 지정한 운송 업체를 통해 반품하도록 합니다.<br>
        4)스타일링 제품을 반품 받은 회사는 전 2)항의 결제된 부분에 관하여 확인하고 결제되지 않은 제품에 대하여 운송 업체에게 회수를 신청합니다.<br>
        5) 결제가 완료된 제품의 경우에는 다음 각 호의 경우에 반품 승인이 되지 아니할 수도 있습니다.<br>
        ①기술상 서비스 제공이 불가능한 경우<br>
        ※예시 : 택을 제거한 상품, 향수 또는 담배냄새, 세탁 및 오염, 수선, 착용의 흔적<br>
        <br>
        제 11 조 (서비스의 변경 및 중지)<br>
        1)회사는 서비스(개별 서비스 포함)를 변경하여야 하는 상당한 이유가 있는 경우 변경될 서비스의 내용 및 제공일자를 제14조에서 정한 방법으로 회원에게 통지하고 서비스를 변경하여 제공할 수 있습니다.<br>
        2)회사는 다음 각호에 해당하는 경우 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다. 이 경우 회사는 제한 또는 중단 사유를 사전에 공지합니다<br>
        ①서비스용 설비의 보수 등 공사로 인한 부득이한 경우<br>
        ②회사가 통제하기 곤란한 사정으로 불가피하게 서비스 제한 또는 중단이 필요한 경우<br>
        ③회원이 회사의 영업활동을 방해하는 경우<br>
        ④정전, 제반 설비의 장애 또는 서비스 이용량의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우<br>
        ⑤새로운 서비스로의 교체, 개별 서비스를 회사가 운영하는 다른 사이트로 이전하는 등 회사의 서비스 운영정책상 서비스의 제한 또는 중단이 필요하다고 판단하는 경우<br>
        ⑥제휴업체(BP)와의 계약종료 등과 같은 회사의 제반 사정으로 서비스를 유지할 수 없는 경우<br>
        ⑦기타 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우<br>
        3)회사는 비실명인 회원, 만14세 미만 회원, 청소년보호법상의 보호대상인 회원, 만 19세 미만의 회원, 외국인 회원, 법인 및 단체 회원, 폰번호 회원 등 회원 별로 서비스의 이용을 제한할 수 있으며, 이러한 서비스 제한에 대한 사항은 개별 서비스에서 별도로 안내 또는 공지합니다.<br>
        <br>
        제 12 조 (정보 제공 및 광고 게재)<br>
        1)회사는 서비스를 운영함에 있어 각종 정보를 서비스 화면에 게재하거나 메일, 쪽지, SMS등의 방법으로 회원에게 제공할 수 있습니다.<br>
        2)회사는 서비스의 운영과 관련하여 광고 등을 서비스 화면에 게재하거나, 메일, 쪽지, SMS등을 통하여 발송할 수 있습니다. 다만, 회사는 회원에게 메일, 쪽지, SMS 등을 발송하는 경우 수신 동의 여부를 확인하여, 수신 동의한 회원에 한하여 이를 발송합니다.<br>
        3)회원이 서비스상에 게재되어 있는 광고를 이용하거나 서비스를 통한 광고주의 판촉활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로 회원과 광고주간의 문제입니다. 만약, 회원과 광고주간에 문제가 발생할 경우에도 회원과 광고주가 직접 해결하여야 하며, 이와 관련하여 회사는 어떠한 책임도 지지 않습니다<br>
        <br>
        제 13 조 (회사의 의무)<br>
        1)회사는 서비스 제공과 관련하여 알고 있는 회원의 회원정보를 본인의 동의없이 제3자에게 제공하지 않습니다.<br>
        2)회사는 회원의 회원정보를 보호하기 위해 보안시스템을 구축 운영하며, "개인정보취급방침"을 공지하고 준수합니다. 또한, 회사는 "개인정보취급방침" 따라 회원정보를 취급함에 있어 안정성 확보에 필요한 기술적 및 관리적 대책을 수립ㆍ운영합니다.<br>
        3)회사는 서비스와 관련한 회원의 불만사항이 접수되는 경우 이를 신속하게 처리하여야 하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 서비스 화면에 게재하거나 메일 등을 통하여 회원에게 통지합니다.<br>
        4)회사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가 회사의 고의나 과실에 기해 발생한 경우에 한하여 회사에서 책임을 부담하며, 그 책임의 범위는 통상손해에 한합니다.<br>
        <br>
        제 14 조 (회원의 의무)<br>
        1)회원은 관계법령, 약관, 서비스 이용안내 및 서비스상에 공지한 주의사항, 회사가 서비스 이용과 관련하여 회원에게 통지하는 사항 등을 준수하여야 하며, 기타 회사의 업무에 방해되는 행위를 하여서는 아니 됩니다.<br>
        2)회원은 회사에서 공식적으로 인정한 경우를 제외하고는 서비스를 이용하여 상품을 판매하는 영업 활동을 할 수 없으며, 특히 해킹, 광고를 통한 수익, 음란사이트를 통한상업행위, 상용소프트웨어 불법배포 등을 할 수 없습니다. 이를 위반하여 발생한 영업 활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가책임을 지지 않으며, 회원은 이와 같은 행위와 관련하여 회사에 대하여 손해배상 의무를 집니다.<br>
        3)회원은 회원정보 작성이나 변경 시 모든 사항을 사실에 근거하여 작성하여야 하며, 허위 또는 타인의 개인정보를 이용한 사실이 발견된 경우 회원은 서비스 이용과 관련한 일체의 권리를 주장할 수 없습니다.<br>
        4)회원은 서비스의 이용권한, 기타 서비스 이용계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.<br>
        5)회원의 관리소홀, 부정사용 등에 의하여 발생하는 모든 결과에 대한 책임은 회원 본인이 부담하며, 회사는 고의 또는 과실이 없는 한 이에 대한 어떠한 책임도 부담하지 않습니다.<br>
        <br>
        제 15 조 (회원에 대한 통지)<br>
        1)회사는 회원의 서비스 이용에 필요한 권리 및 의무 등에 관한 사항을 회사가 발급한 또는 회원이 지정한 메일, SMS 등으로 통지할 수 있습니다.<br>
        2)회사는 불특정 다수 회원에 대한 통지의 경우 서비스에 게시함으로써 개별 통지에 갈음할 수 있습니다.<br>
        <br>
        제 16 조 (회원정보의 보호 및 이용)<br>
        1)회사는 적법하고 공정한 수단에 의하여 이용계약의 성립 및 이행에 필요한 최소한의 범위 내에서 "개인정보취급방침"에 따라 이용고객의 회원정보를 수집합니다.<br>
        2)회사의 "개인정보취급방침"은 회사에 링크된 다른 웹사이트(회사가 운영하지 않는 웹사이트를 말합니다. 이하 같습니다)에서는 적용되지 않습니다.<br>
        3)회사는 전기통신사업법, 통신비밀보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법 등 관계법령에 따라 행정기관이나 수사기관 등에서 회원의 회원정보의 열람이나 제출을 요청하는 경우에는 이를 제공할 수 있습니다.<br>
        4)회사는 회원의 귀책사유로 인해 노출된 회원정보에 대해서 일체의 책임을 부담하지 않습니다.<br>
        5)회사는 회원정보의 취급 및 관리, 서비스 운영 등의 업무를 스스로 수행함을 원칙으로 하나, 필요한 경우 이러한 업무의 일부 또는 전부를 회사가 선정한 회사에 위탁할 수 있으며, 회원정보의 취급 및 관리, 서비스 운영 등에 관한 업무를 위탁하는 경우에는 "개인정보취급방침"에 공지합니다.<br>
        6)회원이 이용계약 체결과정에서 회사에 제공한 회원정보에 대한 수집•이용 또는 제공에 대한 동의를 철회하고자 하는 경우에는 "개인정보취급방침"에서 정한 바에 따르며, 회원이 이러한 동의를 철회하는 경우 서비스 이용계약은 자동으로 해지됩니다.<br>
        <br>
        제 17 조 (계약해지 및 이용제한)<br>
        1)회원이 서비스 이용계약을 해지하고자 할 경우에는 회사가 운영하는 "고객센터"에서 해지신청을 하여야 합니다.<br>
        2)회사는 회원이 이 약관 및 개별서비스 이용약관을 위반한 경우 경고, 일시적 이용정지, 영구적 이용정지 등의 단계로 서비스 이용을 제한하거나 이용계약을 해지할 수 있습니다.<br>
        3)회원은 제2항에 따른 서비스 이용정지 기타 서비스 이용과 관련된 이용제한에 대해 회사가 정한 절차에 따라 이의신청을 할 수 있으며, 회사는 회원의 이의신청이 정당하다고 판단되는 경우 즉시 서비스 이용을 재개합니다.<br>
        <br>
        제 18 조 (손해 배상)<br>
        1)회원이 본 약관의 규정을 위반함으로 인하여 회사에 손해가 발생하게 되는 경우, 이 약관을 위반한 회원은 회사에 발생하는 모든 손해를 배상하여야 합니다.<br>
        2)회원이 서비스를 이용하는 과정에서 행한 불법행위나 이 약관 위반행위로 인하여 회사가 당해 회원 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 당해 회원은 자신의 책임과 비용으로 회사를 면책 시켜야 하며, 회사가 면책되지 못한 경우 당해 회원은 그로 인하여 회사에 발생한 모든 손해를 배상하여야 합니다.<br>
        <br>
        제 19 조 (면책사항)<br>
        1)회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면책됩니다.<br>
        2)회사는 회원의 귀책사유로 인한 서비스의 이용장애에 대하여 책임을 지지 않습니다.<br>
        3)회사는 고의 또는 과실이 없는 한 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며 그 밖에 서비스를 통하여 얻은 자료로 인한 손해 등에 대하여도 책임을 지지 않습니다. 회사는 회원이 사이트에 게재한 게시물의 정확성 등 내용에 대하여는 책임을 지지 않습니다.<br>
        4)회사는 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며 회사의 고의 또는 과실이 없는 한 이로 인한 손해를 배상할 책임도 없습니다.<br>
        <br>
        제 20 조 (분쟁 조정 및 관할법원)<br>
        1)회원은 개인정보 및 서비스 이용과 관련된 사항에 관한 문제제기 또는 문제해결은 회사가 운영하는 고객센터 또는 권리침해신고센터를 통하여 처리하여야 합니다.<br>
        2)회사와 회원 간에 서비스 이용과 관련하여 발생한 분쟁에 대한 소송이 제기되는 경우 회원의 주소지를 관할하는 법원, 회원의 주소지를 알 수 없는 경우에는 거소지에 따라 관할 법원을 정하고, 주소지나 거소지를 알 수 없는 경우에는 대한민국의 민사소송법상의 법원을 관할법원으로 하여 해결합니다.<br>
        <br>
        부칙<br>
        본 개인정보취급방침은 2014년 12월 15일부터 적용됩니다.<br>
        법령·정책 또는 보안기술의 변경에 따라 현 개인정보취급방침 내용의 추가·삭제 및 수정이 있을 시에는 개정안 적용일의 7일 전부터 회사의 사이트 내 공지사항을 통하여 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제 3자 제공 등과 같이 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="personalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
        <h5 class="modal-title" id="personalModalLabel">개인정보 취급방침</h5>
      </div>
      <div class="modal-body">
        <p><strong>1. 개인정보의 처리 목적</strong> <주식회사 찹스터>(‘https://www.reclothe.co.kr/’이하 ‘리클로스’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.</br> - 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등</br></br></br></br></br><p class='lh6 bs4'><strong>2. 개인정보처리 위탁</strong></br></br> ① <em class="emphasis"><주식회사 찹스터>('리클로스')</em>은(는) 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.</p>②  <em class="emphasis"><주식회사 찹스터>('https://www.reclothe.co.kr/'이하 '리클로스')</em>은(는) 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</br></br>③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</br><br/><br/><p class='lh6 bs4'><strong>3. 정보주체의 권리,의무 및 그 행사방법 이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.</strong></p><p class='ls2'>① 정보주체는 <주식회사 찹스터>(‘https://www.reclothe.co.kr/’이하 ‘리클로스) 에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.</br> 1. 개인정보 열람요구</br> 2. 오류 등이 있을 경우 정정 요구</br> 3. 삭제요구</br> 4. 처리정지 요구</p></br></br><p class='lh6 bs4'><strong>4. 처리하는 개인정보의 항목 작성 </strong></br></br> ① <em class="emphasis"><주식회사 찹스터>('https://www.reclothe.co.kr/'이하  '리클로스')</em>은(는) 다음의 개인정보 항목을 처리하고 있습니다.</p><p class='ls2'>1<스타일링과 배송을 위한 정보></br>- 필수항목 : 자택주소, 생년월일, 휴대전화번호, 이름, 이메일, 신체정보, 서비스 이용 기록</br>- 선택항목 : </p></br></br></br><p class='lh6 bs4'><strong>5. 개인정보의 파기<em class="emphasis"><주식회사 찹스터>('리클로스')</em>은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.</strong></p><p class='ls2'>-파기절차</br>이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</br>-파기기한</br>이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.</p><p class='ls2'></p></br></br><p class='lh6 bs4'><strong>6. 개인정보의 안전성 확보 조치 <em class="emphasis"><주식회사 찹스터>('리클로스')</em>은(는) 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</strong></p><p class='ls2'>1. 개인정보 취급 직원의 최소화 및 교육</br> 개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.</br></br>2. 정기적인 자체 감사 실시</br> 개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.</br></br>3. 내부관리계획의 수립 및 시행</br> 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</br></br>4. 개인정보에 대한 접근 제한</br> 개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</br></br>5. 비인가자에 대한 출입 통제</br> 개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.</br></br></p></br></br><p class='lh6 bs4'><strong>7. 개인정보 보호책임자 작성 </strong></p><br/> ①  주식회사 찹스터(‘https://www.reclothe.co.kr/’이하 ‘리클로스) 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<p class='ls2'><br/>▶ 개인정보 보호책임자 <br/>성명 :박우상<br/>직책 :박우상<br/>직급 :기술총괄이사<br/>연락처 :010-6309-8717, pws12321@gmail.com, <br/>※ 개인정보 보호 담당부서로 연결됩니다.<br/> <br/>▶ 개인정보 보호 담당부서<br/>부서명 :개발부서<br/>담당자 :박우상<br/>연락처 :010-6309-8717, pws12321@gmail.com, <br/>② 정보주체께서는 주식회사 찹스터(‘https://www.reclothe.co.kr/’이하 ‘리클로스) 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 주식회사 찹스터(‘https://www.reclothe.co.kr/’이하 ‘리클로스) 은(는) 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.</p></br></br><p class='lh6 bs4'><strong>8. 개인정보 처리방침 변경 </strong></p><p>①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<script src="/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="/vendor/bootstrap-3.3.1/js/bootstrap.min.js"></script>
<script src="/vendor/jquery-validation/dist/jquery.validate.js"></script>
<script src="/vendor/jquery-validation/dist/additional-methods.js"></script>
<script src="/vendor/bootstrap_datepicker/js/bootstrap-datepicker.js"></script>
<script src="/vendor/bootstrap_datepicker/js/locales/bootstrap-datepicker.kr.js"></script>
<script src="/vendor/imagesloaded.pkgd.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.js"></script>


</body>

</html>
