<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/vendor/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="/vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="/vendor/bootstrap-3.3.1/js/bootstrap.min.js"></script>
  <style>
    body {
      font-size: 12px;
    }
    tr:hover {
      color: red;
    }
  </style>
</head>
<body>
<!-- Navigation -->

<table class="table">
  <thead>
    <tr>
      <th>uid</th>
      <th>이메일</th>
      <th>이름</th>
      <th>폰번호</th>
      <th>생일</th>
      <th>나이</th>
      <th>설문</th>
      <th>상담시간</th>
      <th>셀프샷</th>
      <th>원하는사진</th>
      <th>우편번호</th>
      <th>주소</th>
      <th>상세주소</th>
      <th width="10%">메시지</th>
      <th>신청일시</th>
      <th>키</th>
      <th>몸무게</th>
      <th>상의</th>
      <th>하의</th>
      <th>레벨</th>
      <th>좋아요</th>
      <th>싫어요</th>
      <th>신청상품</th>
    </tr>
  </thead>
  <tbody>
  <%for(var i=0; i < result.length; i++) {
    var year = new Date().getFullYear();
    var birthYear = result[i].birth.getFullYear();
    result[i].birth = result[i].birth.getFullYear() + '-'
      + (result[i].birth.getMonth() + 1) + '-'
      + result[i].birth.getDate();
    result[i].cdate = result[i].cdate.getFullYear() + '-'
      + (result[i].cdate.getMonth() + 1) + '-'
      + result[i].cdate.getDate() + ' '
      + (result[i].cdate.getHours() + 1) + ':'
      + result[i].cdate.getMinutes();
  %>
    <tr>
      <td><%=result[i].user_id%></td>
      <td><%=result[i].email%></td>
      <td><%=result[i].name%></td>
      <td><%=result[i].phone%></td>
      <td><%=result[i].birth%></td>
      <td><%=year-birthYear+1%></td>
      <td><%=result[i].survey%></td>
      <td><%=result[i].consult%>~<%=result[i].consult+1%></td>
      <td><a href="<%=result[i].self%>">사진보기</a></td>
      <td>
      <%
        var photo = null;
        if(result[i].photo != null){
      %>
        <a href='<%=result[i].photo %>'>사진보기</a>
      <%}else{%>
        <%='없음'%>
      <%}%>
      </td>
      <td><%=result[i].postcode%></td>
      <td><%=result[i].address1%></td>
      <td><%=result[i].address2%></td>
      <td><%=result[i].message%></td>
      <td><%=result[i].cdate%></td>
      <td><%=result[i].height%></td>
      <td><%=result[i].weight%></td>
      <td><%=result[i].top%></td>
      <td><%=result[i].bottom%></td>

      <td><%=ENUMS.LEVEL_NAMES[result[i].level]%></td>
      <td>
      <% for(var j = 0; j < result[i].userStyle.length; j++){%>
        <img src='<%=ENUMS.STYLE_IMAGES[result[i].userStyle[j]].URL%>' width="50%" height="50%" class="list-inline"/>
      <%}%>
      </td>
      <td>
      <% for(var j = 0; j < result[i].userHate.length; j++){%>
        <%=ENUMS.HATE_IMAGES_NAMES[result[i].userHate[j].toString()] + ', '%>
      <%}%>
      </td>
      <td>
      <% for(var j = 0; j < result[i].products.length; j++){%>
      <%=ENUMS.PRODUCT_NAMES[result[i].products[j].toString()] + ', '%>
      <%}%>
      </td>
    </tr>
  <%}%>
  </tbody>


</table>

</body>

</html>