html {
  width: 100%;
  height:100%;
  font-size: 100%;
  /*font-size: 16px;*/
}

body {
  /*1em = 14px*/
  /*background: url("http://subtlepatterns.com/patterns/grey_wash_wall.png") repeat scroll 0% 0% transparent;*/
}

a:active, a:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Gothic", "Nanum Barun Gothic", sans-serif;
  letter-spacing: -0.03em;
}

.alpha-spacing {
  letter-spacing: 0em;
}

.eng-name {
  margin-top: 6px !important;
  color: #9b9b9b;
}

#about h1, h3 {
  margin: 0px;
}

h1 {
  font-size: 3.57142857143em; /*50px*/
  font-weight: bold;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2.143em; /*30px*/
  color: #383838;
  font-weight: bold;
}

h3 {
  font-size: 1.42857142857em;/*20px*/
  /*color: #9b9b9b;*/
  font-weight: bold;
}

h4 {
  font-size: 1.285em;/*18px*/
  font-weight: bold;
}

h5 {
  font-size: 1.14285714286em;/*16px;*/
  font-weight: bold;
}

h6 {
  font-size: 0.857em;/*12px;*/
}

@media(max-width:767px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 14px;
  }
  body {
    font-size: 12px;
  }
  table, p {
    font-size: 12px !important;
  }
}

.about-wrapper {
  margin: 90px 0px;
  color: #383838 !important;
}

.about-wrapper h3{
  margin-top: 10px;
}

.opacity-block{
  background-color: #ffffff;
  opacity: 0.9;
  width: 100%;
  height: 335px;
}

.pull-top {
  position: absolute;
  top: 0px;
}

.pull-bottom {
  position: absolute;
  bottom: 0px;
}

@media(max-width:767px) {
  .pull-left {
    float: none !important;
  }
}

.weight-normal {
  font-weight: normal;
}

#about #styling {
  background-image: url('/img/styling.jpg');
  background-repeat: no-repeat;
  background-overflow: hidden;
  height: 670px;
  padding: 0;
}

#about #tryon {
  background-image: url('/img/tryon.jpg');
  background-repeat: no-repeat;
  background-overflow: hidden;
  height: 670px;
  padding: 0;
}

.about-detail {
  text-align: left;
}

.about-detail h2 {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 35px;
  padding: 10px 0px;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  display: inline-block;
}

.about-message {
  margin-left: 110px;
  width: 460px;
}

.about-message h3{
  font-weight: normal;
  line-height: 30px;
}

.about-message h5 {
  font-weight: normal;
  line-height: 23px;
}

.about-message p {
  margin-top: 70px;
  /*line-height: 30px;*/
}

.about-message .about-sub-message {
  margin-bottom: 40px;
}

.about-detail .styling-detail {
  background-image: url('/img/styling-detail.jpg');
  background-repeat: no-repeat;
  background-overflow: hidden;
  height: 670px;
  border: 2px solid #383838;
  /*border: 2px solid #757575;*/
}

.about-detail .tryon-detail {
  background-image: url('/img/tryon-detail.jpg');
  background-repeat: no-repeat;
  background-overflow: hidden;
  height: 670px;
  border: 2px solid #383838;
  /*border: 2px solid #757575;*/
}

@media(max-width:767px) {
  .about-wrapper h1 {
    font-size: 18px;
  }
  .about-wrapper h3 {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 5px;
  }

  .about-message {
    width: 100%;
    margin: auto;
    padding: 15px;
  }

  .about-message h1 {
    font-size: 23px;
  }

  .about-message h2 {
    font-size: 16px;
    margin: 0;
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    padding: 10px 0px;
    border-top: none;
    border-bottom: none;
    display: block;
    text-align: center;
  }

  .about-message .about-sub-message {
    margin-bottom: 20px;
  }

  .about-message p {
    margin-top: 30px;
    /*line-height: 30px;*/
  }

  .about-message h3 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .about-message h5 {
    font-size: 14px;
    text-align: center;
  }

  .about-wrapper {
    margin-top: 25px;
  }
  .opacity-block {
    height: 165px;
  }
  #about #styling {
    /*background: url('/img/styling.jpg') no-repeat 60% 50%;*/
    background-size: auto 330px;
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-overflow: hidden;
    height: 330px;
    padding: 0;
  }

  #about #tryon {
    background-size: auto 330px;
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-overflow: hidden;
    height: 330px;
    padding: 0;
  }
  .about-detail .styling-detail,
  .about-detail .tryon-detail {
    background: none;
    /*background-size: auto 330px;*/
    height: 330px;
  }
}

#service .caption {
  font-weight: bold;
}

#service .caption > h4 {
  color: #383838;
  margin: 9px 0;
}

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

#service .caption > p {
  position: relative;
  left: 20px;
  /*font-size: 14px; *//*14px*/
  font-size: 1em; /*14px*/
  line-height: 18px;
  color: #9b9b9b;
}

@media(max-width:767px) {
  #service .caption > h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 20px;
  }
  #service .caption > p {
    left: auto;
  }
}

nav {
  font-size: 1.143em; /*16px*/
  font-weight: normal;
  margin-bottom: 0px !important;
}


.navbar-nav li a {
  line-height: 55px;
  height: 55px;
  font-weight: bold;
  padding-top: 0;
  padding: 0 10px;
}

.navbar-brand{
  line-height: 55px;
  height: 55px;
  font-weight: bold;
  padding-top: 0;
  margin-top: 17px;
}


.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
  height: 3px;

}
.navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #333;
}


.navbar-inverse .navbar-nav>li:first-child a{padding-left: 0;}
.navbar-inverse { background: rgba(255,255,255,0.6);}
/*.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background: rgba(255,255,255,0.6)}*/
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background: rgba(255,255,255,0.6)}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border: rgba(255,255,255,0.6);}
.navbar-inverse .navbar-brand { color: #383838}
.navbar-inverse .navbar-nav>li>a { color: #383838}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #E62C2E}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #E62C2E}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #E62C2E}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #92969A}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #92969A}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


@media(max-width:767px) {
  .navbar-inverse { background: #ffffff;}
  .navbar-inverse .navbar-nav>li:first-child a{padding-left: 10px;}
}



/*로고 가운데 위치*/
.navbar-center{
  position: absolute;
  width: 185px;
  left: 50%;
  text-align: center;
  margin-left: -92px;
}
.navbar-right{
  /*position: absolute;*/
  float: right;
  text-align: right;
  margin-left: -40px;
}

@media(max-width:767px) {
  .navbar-brand{
    height: 17px;
    padding: 0;
  }

  .navbar-brand img{
    height: 15px;
  }
  .navbar-center{
    width: 133px;
    margin-left: -66px;
  }


  .navbar-right{
    float: left;
    margin-left: 0;
  }
}

.intro-header {
  /*margin-top: 55px;*/
  color: #f8f8f8;
  background: url('/img/main.jpg') no-repeat center center;
  background-size: cover;
  height: 633px;
}


.register-header {
  color: #f8f8f8;
  background: url('/img/register.jpg') no-repeat center center;
  line-height: 42px;
  height: 344px;
}

.button-default {
  color: #ffffff;
  border: 0;
  font-size: 1em;
  font-weight: bold;
  padding: 9px 20px;
  border-radius: 3px;
}

.detail-button{
  margin-top: 40px;
  border: 2px solid #383838;
  border-radius: 0px;
  color: #383838;
}

@media(max-width:767px) {
  .detail-button {
    position: absolute;
    bottom: 20px;
    margin-top: 0;
    border: none;
    border-radius: 0px;
    color: #383838;
    cursor: pointer;
    /*margin-left: auto;*/
    width: 100%;
  }
  .detail-button img {
    margin: auto;
  }
}

.beta-button{
  border-radius: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  height: 51px;
  border: 2px solid #ffffff;
}

.beta-button:hover{
  color: #ffffff;
}

.submit-button {
  background: linear-gradient(#ee5e5c, #e62c2e, #c92628);
  background: -webkit-linear-gradient(#ee5e5c, #e62c2e, #c92628);
  background: -o-linear-gradient(#ee5e5c, #e62c2e, #c92628);
  background: -moz-linear-gradient(#ee5e5c, #e62c2e, #c92628);
  margin-top: 44px;
  color: #ffffff;
  width: 140px;
  height: 45px;
  border: 0;
  border-radius: 6px;
  font-size: 1.42857142857em;/*20px*/
  font-weight: bold;
}

.submit-button:hover{
  background-color: #e62c2e;
  color: #ffffff;
  width: 140px;
  height: 45px;
}

.navbar .beta-button {
  margin-top: 8px;
  margin-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: normal;
  box-shadow: none;
  text-shadow: none;
  color: #383838;
  width: 100px;
  height: 40px;
  border: 2px solid #383838;
}

.register-message > h2{
  position: relative;
  left: 15px;
  top: 110px;
  color: #ffffff;
  text-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.intro-message {
  position: relative;
  /*padding-top: 102px;*/
  padding-top: 203px;
  padding-bottom: 220px;
  text-shadow: 0px 0px 15px rgba(0,0,0,.6);
}

.intro-message > h1,
.intro-message > h3 {
  margin: 15px;
}
.intro-message > h1 {
  color: #ffffff;
}

.intro-message > h3 {
  position: relative;
  left: 3px;
  color: #ffffff;
}

.intro-message .beta-button {
  position: relative;
  top: 80px;
  font-size: 1.429em;
  margin: 0px 20px;
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
  .intro-header {
    margin-top: 50px;
    background: url('/img/main.jpg') no-repeat 52% 50%;
    background-size: auto 230px;
    height: 230px;
  }
  .intro-message {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 17px;
    text-shadow: 0px 0px 15px rgba(0,0,0,.6);
  }

  .intro-message .beta-button {
    width: 135px;
    height: 30px;
    top: 48px;
    font-size: 14px;
    margin: auto;
    padding: 4px 0px;
    border: 1px solid #ffffff;
  }

  .intro-message h1, h3 {
    text-align: center;
    margin: auto;
  }

  .intro-message h3 {
    margin-top: 7px;
    font-size: 12px;
  }

  .register-header {
    color: #f8f8f8;
    background: url('/img/register.jpg') no-repeat 60% 50%;
    line-height: 42px;
    /*background-size: auto 250px;*/
    /*height: 250px;*/
    background-size: auto 220px;
    height: 220px;
  }

  .register-message > h2{
    font-size: 16px;
    text-align: center;
    top: 100px;
    left: 0;
    margin: 10px 0px;
  }

  .content-section-register .section-header h3 {
    font-size: 16px;
    padding: 0px 15px;
  }
}

#service .row-item {
  margin: 66px 0px;
}

#service .row-item:first-child {
  margin-top: 70px;
}

#service .row-item:last-child {
  margin-bottom: 60px;
}

@media(max-width:767px) {
  #service .row-item {
    margin: 40px 0px;
  }

  #service .row-item:first-child {
    margin-top: 50px;
  }

  #service .row-item:last-child {
    margin-bottom: 5px;
  }
}

.brand-logo {
  margin: 10px auto;
}

#brand h5 {
  font-size: 14px;
  color: #9c9c9c;
  line-height: 22px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: normal;
}

.padding-15 {
  padding: 0px 15px;
}

.well {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 22px;
}

@media(max-width:767px) {
  #brand h5 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 30px;
  }
  .well {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 22px;
  }
}




.radio-btn {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  font-size: 1em;
}
.radio-btn:active, .radio-btn.active {
  background-color: #6C7090;
  color: #ffffff;
  outline: 0 none;
}

.checkbox-style.checked {
  border: 10px solid red;
}

textarea {
  resize: none;
  width: auto;
  padding-left: 15px;
  border-radius: 0px;
}

.emp {
  color: #e62c2e;
}

.sub {
  font-size: 0.857em;
}

#layer {
  background-color: #ffffff;
  display:none;
  border:5px solid;
  position:fixed;
  z-index: 20;
  width:500px;
  height:400px;
  left:50%;
  margin-left:-250px;
  top:50%;
  margin-top:-250px;
  overflow:hidden;
  -webkit-overflow-scrolling: touch;
}

@media(max-width:767px) {
  #layer {
    width: 300px;
    height: 400px;
    margin-left:-150px;
    margin-top:-200px;
  }
}

.content-section {
  padding-top: 30px;
  background: url('/img/texture.png');
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

@media(max-width:767px) {
  .content-section {
    padding-top: 15px;
  }
  .padding-bottom-30 {
    padding-bottom: 15px;
  }
}

.content-section-register{
  padding: 24px 0px;
}

.content-section-register:first-child {
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.content-section-register h3 {
  color: #666666;
}

.content-section .content-section-a {
  background-color: #f0f0f0;
}

.content-section-b {
}

.content {
  margin-top: 24px;
}

.section-header {
  text-align: center;
}

.section-header .section-heading-spacer {
  margin: 0px auto;
  display: block;
  background-color: #e62c2e;
  margin-bottom: 10px;
  border: 0;
  width: 28px;
  height: 4px;
}

.section-header h2{
  margin: 0;
}

.content-section-register .card-container hr {
  margin: 0px;
  margin-top: 24px;
}

#faq .table-condensed {
  font-size: 1em;
  color: #9b9b9b;
  margin-top: 70px;
  margin-bottom: 60px;
}

#faq .table-condensed > tbody > tr > td{
  padding: 7px;
}

#faq .table-condensed tr:nth-child(odd) > td{
  border-top: 1px solid #9c9c9c;
}

#faq .table-condensed tr:nth-child(even) > td{
  border-top: 1px solid #d4d4d4;
  font-weight: bold;
}

#faq .table-condensed tr > td:nth-child(2){
  border-top: 0;
}

#faq .table-condensed tr > td:nth-child(1) {
 width: 10%;
}
#faq .table-condensed tr > td:nth-child(2) {
  width: 5%;
}
#faq .table-condensed tr > td:nth-child(3) {
  width: 85%;
}


@media(max-width:767px) {
  #faq .table-condensed {
    margin-top: 50px;
    margin-bottom: 5px;
  }

  #faq .content {
    padding: 0px 15px;
  }
}

.panel {
  border: 1px solid #d4d4d4;
  padding: 7px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: #9b9b9b;
  font-size: 1.285em;/*18px*/
  background-color: transparent;
}

.panel .tel {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  display: inline-block;
}

@media(max-width:767px) {
  #contact .content {
    padding: 0px 15px;
  }

  .panel .tel {
    display: none;
  }
}


footer {
  padding: 38px 0;
  color: #c7c7c7;
  font-size: 1em;
  line-height: 21px;
  background-color: #595959;

}

p.copyright {
  margin: 0;
}

.form-control[readonly] {
  cursor: text;
  background-color: #ffffff !important;
}

.levelcard-container {
  position: relative;
  padding: 25px 37px;
  width: 330px;
  height: 440px;
  box-shadow: 0px 1px 1px #dbdbdb;
  /*border: 1px solid #e8e8e8;*/
  margin: 0 45px;
  background-color: #ffffff;
}

.levelcard-container:first-child {
  left: 15px;
  margin-left: 0px;
}

.levelcard-container:last-child {
  left: -15px;
  margin-right: 0px;
}


.levelcard input[type=radio] {
  display:none;
}

@media(max-width:767px) {
  .xs-padding-15 {
    padding: 0px 15px;
  }
  .levelcard-container {
    position: static;
    width: 100%;
    margin: 10px 0;
  }
  .levelcard-container img{
    position: static;
    margin: auto;
  }

  .levelcard-container:first-child {
    left: 0px;
    margin-left: 0px;
  }

  .levelcard-container:last-child {
    left: 0px;
    margin-right: 0px;
  }
}

label {
  margin: 0;
}

.levelcard input[type=radio] + label {
  font-size: 1.14285714286em;/*16px;*/
  cursor: pointer;
  width: 100px;
  height: 28px;
  display:inline-block;
  padding: 0 0 0 0px;
  background-color: #6c7090;
  border-radius: 4px;
  color: #ffffff;
  vertical-align: middle;
  padding: 3px 0px;
}
.levelcard input[type=radio]:checked + label{
  cursor: pointer;
  background-color: #000000;
}

.levelcard img {
  cursor: pointer;
}

.levelcard .checked{
  z-index: -1;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  background-image: url('/img/icon/style_checked.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  margin: 0;
  /*margin-top: 25px;*/
  padding: 0 0 0 0px;
}


.levelcard .caption{
  margin-top: 15px;
}
.levelcard p{
  color: #666666;
  font-size: 1em; /*12px*/
  /*font-weight: bold;*/
  line-height: 1.285em;/*18px*/
  margin: 0px;
  height: 36px;
}

.levelcard hr {
  width: 155px;
  margin-top: 38px;
  margin-bottom: 19px;
}


.styleCheck input[type=checkbox] {
  display: none;
  margin: 0px;
  padding: 0px;
  border: 0;
}

.styleCheck input[type=checkbox] + label {
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  margin-top: 24px;
  padding: 0 0 0 0px;
}

.styleCheck input[type=checkbox] + label > .checked{
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 15px;
  cursor: pointer;
  display: inline-block;
}

.styleCheck input[type=checkbox]:checked + label > .checked{
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 15px;
  cursor: pointer;
  display: inline-block;
  background-image: url('/img/icon/style_checked.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  margin: 0;
  margin-top: 24px;
  padding: 0 0 0 0px;
}

@media(max-width:767px) {
  .styleCheck .xs-padding:nth-child(odd) {
    padding-left: 15px;
    padding-right: 7px;
  }
  .styleCheck .xs-padding:nth-child(even) {
    padding-left: 7px;
    padding-right: 15px;
  }

  .styleCheck input[type=checkbox] + label {
    margin-top: 12px;
  }

  .styleCheck input[type=checkbox]:checked + label > .checked{
    margin-top: 12px;
  }

  .styleCheck .xs-padding:nth-child(even) input[type=checkbox]:checked + label > .checked{
    left: 7px;
  }

  .styleCheck .xs-padding:nth-child(1) {
    margin-top: 19px;
  }
  .styleCheck .xs-padding:nth-child(2) {
    margin-top: 19px;
  }
}



.size-label {
  display: block;
  font-size: 1.14285714286em;/*16px;*/
  width: 150px;
}

.size-selectbox {
  font-size: 1em;/*14px;*/
  width: 150px;
  height: 35px;
  padding: 0px;
  margin: auto;
}

@media(max-width:767px) {
  .size-label {
    width: 100%;
  }
  .size-selectbox {
    width: 100%;
    height: 100%;
  }
  #size .pull-right {
    float: none !important;
  }
}


#user .content {
  margin-top: 16px;
}

#user .content .form-control{
  height: 35px;
}

#user .content hr{
  margin: 16px 0px;
}

#user .content h5{
  margin: 7px 0px;
}

@media(max-width:767px) {
  #user hr{
    margin: 7px 0px;
  }
}

.padding-90 {
  padding: 0px 90px;
}

.margin-bottom-terms {
  margin-bottom: 27px;
}

@media(max-width:767px) {
  .padding-90 {
    padding: 0px 15px;
  }
  .xs-padding-30 {
    padding: 0px 30px;
  }
  .margin-bottom-terms {
    margin-bottom: 0px;
  }
}

#product .form-group, h5 {
  margin: 0;
}

#product h5 {
  margin-bottom: 10px;
}

#product .btn-group {
  margin-left: 18px;
}

#product .btn-group label {
  margin-right: 10px;
}

.product-margin {
  margin-bottom: 48px;
}

.product-button {
  margin-right: 15px;
}

#product ul {
  padding: 0;
  list-style-position: outside;
}

#product ul li{
  margin-left: 15px;
}


#term p {
  margin-bottom: 0px;
}

#term ul {
  padding-left: 13px;
  margin-bottom: 0px;
}

#term li {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 20px;
}

#term li > ul > li  {
  margin: 10px 0px;
  font-size: 12px;
  letter-spacing: 0em;
  list-style-type: none;
}

#term li:last-child  {
  margin-bottom: 0;
}

#term li > ul > li:last-child  {
  margin-bottom: 0;
}

#term .content hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

#term .area-agree h5 {
  line-height: 24px;
}

#term .area-agree hr {
  margin: 24px 0px;
}

.agree input[type=checkbox] {
  display:none;
}

.agree input[type=checkbox] + label {
  margin-top: 22px;
  cursor: pointer;
  width: 98px;
  height: 98px;
  display:inline-block;
  padding: 0 0 0 0px;
  background-image: url("/img/icon/unchecked.png");
  background-repeat: no-repeat;
}
.agree input[type=checkbox]:checked + label{
  margin-top: 22px;
  cursor: pointer;
  width: 98px;
  height: 98px;
  display:inline-block;
  padding: 0 0 0 0px;
  background-image: url("/img/icon/checked.png");
  background-repeat: no-repeat;
}

.card-container {
  padding: 45px 0px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px #dbdbdb;
  /*box-shadow: 0px 0px 15px #dbdbdb;*/
}

.content-section-register .card-container {
  color: #666666;
  padding-top: 25px;
  padding-bottom: 35px;
}


#complete .card-container {
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#complete .card-container .content {
  padding: 0px 15px;
}

@media(max-width:767px) {
  #complete .card-container {
    margin-bottom: 15px;
  }
}

.modal .modal-body {
  overflow-y: auto;
  max-height: 600px;
}

@media(max-width:767px) and (max-height:700px){
  .modal .modal-body {
    overflow-y: auto;
    max-height: 400px;
  }
}

@media(max-width:767px) and (max-height: 500px){
  .modal .modal-body {
    overflow-y: auto;
    max-height: 300px;
  }
}



.block-center {
  margin: auto;
}

.margin-remover {
  margin: 0;
}

.a-underline {
  text-decoration: underline;
}

.none {
  display: none;
}

.datepicker .day, .datepicker .day {
  width: 33px;
  height: 33px;
}

.link-normalize {
  color: #c7c7c7;
  cursor: pointer;
}
.link-normalize:hover {
  color: #e7e7e7;
  cursor: pointer;
  text-decoration: none;
}

.xs-only {
  display: none !important;
}

@media(max-width:767px) {
  .xs-img {
    width: 25%;
  }

  .xs-none {
    display: none;
  }

  .xs-only {
    display: block !important;
  }

  .xs-img-center {
    margin: auto;
  }
}


.close-button {
  /*position: relative;*/
  display: inline-block;
  cursor: pointer;
  float: right;
  opacity: 1;
  margin-top: 20px;
  margin-right: 20px;
  /*z-index: 5;*/
}
@media(max-width:767px) {
  .close-button {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .close-button img {
    width: 50%;
    height: 50%;
  }
}
.loading {
  position: fixed;
  width: 50px;
  height: 50px;
  top:50%;
  left:50%;
  margin-left: -25px;
  margin-top: -50px;
  z-index:10;
  background: no-repeat url('/img/ajax-loader.gif');
  /*background: no-repeat url('http://wallpapereditor.com/img/loading.gif');*/
}

.error {
  color: #E62C2E;
  font-size: 12px;
}