@charset "utf-8";

/*
 * Hangeul NanumBarunGothic Font
 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: normal;
  src: url(/font/NanumBarunGothicWeb.eot);
  src: url(/font/NanumBarunGothicWeb.eot?#iefix) format('embedded-opentype'),
  url(/font/NanumBarunGothicWeb.woff) format('woff'),
  url(/font/NanumBarunGothicWeb.ttf) format('truetype');
}
/*@font-face {*/
  /*font-family: 'NanumBarunGothic';*/
  /*src: url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/NanumBarunGothic.eot);*/
  /*src: url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),*/
  /*url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/NanumBarunGothic.woff) format('woff'),*/
  /*url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/NanumBarunGothic.ttf) format('truetype');*/
/*}*/
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: bold;
  src: url(/font/NanumBarunGothicWebBold.eot);
  src: url(/font/NanumBarunGothicWebBold.eot?#iefix) format('embedded-opentype'),
  url(/font/NanumBarunGothicWebBold.woff) format('woff'),
  url(/font/NanumBarunGothicWebBold.ttf) format('truetype');
}
/*@font-face {*/
  /*font-family: 'NanumBareunGothicLight';*/
  /*src: url(/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.eot);*/
  /*src: url(/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.eot?#iefix) format('embedded-opentype'),*/
  /*url(/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.woff) format('woff'),*/
  /*url(/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.ttf) format('truetype');*/
/*}*/