.intro-header {
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/
  color: #f8f8f8;
  /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
  background-color: #E3DFDC;
  background-size: cover;

  /*height: 700px;*/
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;

}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    /*font-size: 5em;*/
}


.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    /*.intro-message > h1 {*/
        /*font-size: 3em;*/
    /*}*/

}

.button-default {
  color: #ffffff;
  border: 0;
  /*font-size: 17px;*/
  padding: 5px 10px;
}
.button-default.beta-button{
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #365142;
}

.content-section-a {
  padding: 50px 0;
}

.content-section-b {
    padding: 50px 0;
    border: 0;
    color: #ffffff;
    background-color: #223544;
}

.content {
  margin-top: 30px;
}


.section-header .section-heading-spacer {
  margin: 0;
  /*display: block;*/
    float: left;
  background-color: #C48939;
  border: 0;
  width: 30px;
  height:10px;
  border-radius: 7px 7px 7px 7px;
}

.section-header h2{
  margin: 0;
}

/*.faq-table td{*/
  /*border-top: thin solid #ff0000;*/
  /*border-bottom: thin solid #ff0000;*/
/*}*/


.panel {
  border: 2px solid #ffffff;
  padding: 10px;
  text-align: center;
  background-color: transparent;
}


footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}