.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #f8f8f8;
  background-color: #365142;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }


    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
.fff {
  padding: 0;
}


/*.radio .active {*/
  /*ba*/
/*}*/

.radio-btn {
  margin-left: 5px;
  margin-right: 5px;
}
.radio-btn:active, .radio-btn.active {;
  background-color: red;
  outline: 0 none;
}

textarea {
  resize: none;
}

.content-section-a {
  text-align: center;
    /*padding: px 0;*/
}

.content-section-b {
  text-align: center;
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    /*color: #ffffff;*/
    background-color: #365142;
}

.content {
  margin-top: 30px;
}

.emp {
  color: red;
}

.sub {
  font-size: 0.7em;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 30px;
    border-top: 3px solid #e7e7e7;
}

/*.faq-table td{*/
  /*border-top: thin solid #ff0000;*/
  /*border-bottom: thin solid #ff0000;*/
/*}*/

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

#layer {
  background-color: #ffffff;
  display:none;
  border:5px solid;
  position:fixed;
  width:500px;
  height:400px;
  left:50%;
  margin-left:-155px;
  top:50%;
  margin-top:-235px;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}